<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

<body>

  <div class="container">
    {% include header.html %}

    {{ content }}

  </div>
  {% include footer.html%}

  <script src="https://raw.githubusercontent.com/moeeroid/moeeroid.github.io/master/assets/js/bootstrap.min.js"></script>
  <script src="https://raw.githubusercontent.com/moeeroid/moeeroid.github.io/master/assets/js/bootstrap.min.js"></script>
  <!--<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script> -->
  <script src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>

</body>

</html>
